{% extends 'base.html' %}
{% load static %}
{% block block_header %}
    <div class="col-md-12 blog-main">
        <span class="pb-3 mb-4 font-bold" style="font-size: 28px;">New Questions </span>
        <span class="pb-3 mb-6 font-bold"><ins><a style="margin-left: 20px" href="{% url 'questions:hot'%}">Hot Questions</a></ins></span>
    </div>
{% endblock %}
{% block content %}
    {% for q in questions %}
        {% block short_question %}
            {% include "one_question.html" %}
        {% endblock %}
    {% endfor %}
    {% block pagination %}
        {% include "pagination.html" %}
    {% endblock %}
{% endblock %}
{% block footer %}
    <footer class="page-footer font-small blue fixed-bottom">
        <div class="footer-copyright text-center" style="margin-bottom: 15px;">&copy; 2018 Copyright: Dobryanskaya E.
        </div>
    </footer>
{% endblock %}