{% extends 'base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href={% static "css/question.css" %}>
{% endblock %}
{% block content %}
    {% block question %}
        {% include "one_question.html" %}
    {% endblock %}
    {% block answers %}
        {% for a in q.answer_set.all %}
            {% include "one_answer.html" %}
        {% endfor %}
    {% endblock %}
    {% block enter_answer %}
        <div style="border-bottom: 1px solid #000;"></div><br/>
        <div><textarea class="form-control" rows="5" id="inputText">Enter your answer here.</textarea></div>
        <div class="form-group row">
            <div style="margin-top: 20px; margin-left: 15px;">
                <button type="submit" class="btn btn-outline-dark">Answer</button>
            </div>
        </div>
    {% endblock %}
{% endblock %}
{% block footer %}
    <footer class="page-footer font-small blue">
        <div class="footer-copyright text-center" style="margin-bottom: 15px;">&copy; 2018 Copyright: Dobryanskaya E.
        </div>
    </footer>
{% endblock %}
