{% load static %}
{% block userblock %}
            <ul class="navbar-form navbar-right avatar-zone">
                <a href="#"><img class="avatar_mini" src="{% static "avatar.jpg" %}" alt=""></a>
                <div class="text">
                    <h6 class="list-group-item-heading">Elizabeth Dobryanskaya</h6>
                        <div>
                            <span class="col-md-4"><ins><a href="#">settings</a></ins></span>
                            <span><ins><a href="#">log out</a></ins></span>
                        </div>
                </div>
            </ul>
{% endblock %}
